<div ng-show="plc.loading">
    Please wait while we load the page
</div>
<div ng-show="!plc.loading" class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div>
                <button class="btn btn-primary" ng-click="plc.goToBigDataPage()">Navigate</button
                <button class="btn btn-primary" ng-click="plc.login()">Login</button>
                <button class="btn btn-primary" ng-click="plc.button2Click()">Button 2</button>
                <button class="btn btn-primary" ng-click="plc.button3Click()">Button 3</button>
                <span>{{ plc.loginMessage }}</span>
                Search<input type="text" ng-model="plc.search">
                <div>{{ plc.search }}</div>
                <div class="panel panel-default" ng-repeat="product in plc.products">
                    <div class="panel-heading">
                        <span ng-bind="product.name"></span>
                    </div>
                    <div class="panel-body">
                        <span ng-bind="product.about"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div ng-controller="OrderFormController as ofc">
                <form name="orderForm" novalidate>
                    Name: <input name="usernameInput" required ng-model="ofc.username"
                                 ng-change="ofc.modelUpdated()" ng-model-options="{ debounce: 500 }">
                    {{ ofc.username }}
                    Name: <input name="nameInput" required ng-model="ofc.name">
                    Email: <input name="emailInput" type="email" required ng-model="ofc.email">
                    <div ng-show="orderForm.nameInput.$invalid && orderForm.nameInput.$touched">The name is required</div>
                    age: <input name="age" type="number" required ng-min="16" ng-model="ofc.age">
                    <div ng-show="orderForm.age.$invalid && orderForm.age.$touched">The age is invalid</div>
                    retirement age: <input name="retAge" type="number" required ng-max="50 + ofc.age" ng-model="ofc.retAge">
                    <div ng-show="orderForm.retAge.$invalid && orderForm.retAge.$touched">The retAge is invalid</div>
                    <button class="btn btn-primary" ng-disabled="orderForm.$invalid">Submit</button>
                </form>
                <pre>{{ orderForm | json }}</pre>
            </div>
        </div>
    </div>
</div>
